@import 'src/style/mixins';
@import 'src/style/flexbox';

.beerCard {
	width: 100%;

	padding: 10px;

	@include box-sizing(border-box);

	.inner {
		background: rgba(255, 255, 255, 0.9);
		width: 100%;
		height: 100%;

		padding: 20px;

		border: solid 1px #eee;

		@include box-sizing(border-box);

		img {
			border: solid 1px #eee;
		}

		.splitContainer {
			width: 100%;

			.splitSection {
				width: 25%;
				position: relative;

				float: left;
			}
		}

		.label {
			font-size: 0.8rem;
			font-weight: 700;
			text-transform: uppercase;
		}

		.name {
			margin: 20px 0 20px 0;

			font-size: 1.5rem;
		}

		p {
			margin: 5px 0 15px 0;

			color: #777;
			font-size: 0.95rem;
			font-weight: 300;
			line-height: 1.5rem;
		}
	}
}