@import 'src/style/flexbox';
@import 'src/style/mixins';

body {
  margin: 0;
  padding: 0;

  font-family: 'Amazon Ember', 'Helvetica Neue', 'Arial', sans-serif;
}

.app {
  width: 30vw;

  @include transform(translateX(-30vw));

  @include transition-transform(0.25s, ease-out, 0s);

  @include flexbox();
  @include flex-wrap(wrap);

  &[data-show=true] {
    @include transform(translateX(5vw));
  }
}